header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: #040403;
    color: white;
}

header nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: 2% 4%; */
}

.card-img-top {
    /* position: absolute; */
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card-title {
    font-weight: bold;
}

main {
    padding: 2%;
}

.sources {
    background-color: #040403;
    color: white;
    border-top: 1px solid whitesmoke;
    padding: 1% 2%;
    white-space: nowrap;
    overflow-x: scroll;
}

.sources::-webkit-scrollbar {
    height: 7px;
    background-color: transparent;
}

.sources::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 5px;
}

.sources a {
    margin-left: 2%;
}

.sources a:last-child {
    margin-left: 0;
}