{% extends 'layout.html' %}
{% block content %}
<main>
    <h1>latest news</h1>
    <section class="articles-container">
    {% for article in articles %}
        <div class="card" style="width: 18rem;">
            <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description }}</p>
                <a href="{{ article.url }}" target="_blank" class="btn btn-primary">see full article</a>
            </div>
        </div>
    {% endfor %}
    </section>
</main>
{% endblock %}