{% extends 'layout.html' %}
{% block content %}
<div class="sources">
    {% for source in sources %}
        <a href="{{ source.id }}">{{ source.id }}</a>
    {% endfor %}
</div>
<main>
    <h1>latest news</h1>
    <section class="articles-container">
    {% for article in articles %}
        <div class="card">
            <div class="img-container">
                <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description }}</p>
                <small>{{ article.publishedAt }}</small>
                <a href="{{ article.url }}" target="_blank" class="btn btn-primary">see full article</a>
            </div>
        </div>
    {% endfor %}
    </section>
</main>
{% endblock %}